.accordion {
  width: 100%;
}

.accordion .card {
  border-radius: 0;
  border: none;
  /* border: 2px solid var(--background-header-color); */
}

.card .card-header {
  display: grid;
  justify-content: center;
  width: 100%;
  color: #f4f4f4;
  background-color: #000000;
}

.card-body {
  display: flex;
  justify-content: center;
  /*   color: var(--font-color);
  background-color: var(--background-header-color); */
}

.collapse,
.collapsing {
  width: 100%;
}
