.accordion .card {
  border: none;
  border-radius: 0;
  background-color: inherit;
}

.card .card-header {
  display: grid;
  justify-content: center;
  width: 100%;
  color: var(--font-color);
}

.card-body {
  display: flex;
  justify-content: center;
  color: var(--font-color);
}
