.accordion .card {
  border: none;
  border-radius: 0;
}

.card .card-header {
  display: grid;
  justify-content: center;
  width: 100%;
  background-color: #000000;
  color: var(--font-color);
}

.card-body {
  display: flex;
  justify-content: center;
  color: var(--font-color);
  background-color: #000000;
}

.collapse,
.collapsing {
  width: 100%;
}
