.circle {
  display: flex;
  align-items: center;
  height: 33px;
  width: 33px;
  /* background-color: var(--main-background-color); */
  border-radius: 50%;
}

.sun {
  bottom: -3px;
  left: 9px;
}

.moon {
  transform: rotate(15deg);
  height: 28px;
}
