:root {
  --background-color: #161616;
  --icon-color: #f4f4f4;
  --font-color: #f4f4f4;
  --swiper-dot-active-color: #f4f4f4;
  --swiper-dot-border-color: #f4f4f4;
}

.lightmode {
  --background-color: #f4f4f4;
  --icon-color: #161616;
  --font-color: #161616;
  --swiper-dot-color: #000000;
  --swiper-dot-border-color: #000000;
}

:not(rect) {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  background-color: var(--background-color);
  font-family: "Aldrich", sans-serif;
  overflow: auto;
}

.header {
  display: grid;
  background-color: var(--background-color);
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 999;
  position: absolute;
}

.header .logo {
  color: var(--icon-color);
  z-index: 20;
}

.header .cart {
  color: var(--icon-color);
}

.showcase {
  display: grid;
  width: 100%;
  color: white;
  min-height: 309px;
  margin-top: 50px;
}

.main {
  display: grid;
  width: 100%;
  min-height: 309px;
  background-image: linear-gradient(
    to bottom right,
    var(--background-color) 50%,
    rgb(117, 117, 117, 0.14) 50%
  );
}

.footer {
  width: 100%;
  background-color: #000000;
  color: var(--font-color);
}
