:root {
  --background-color: #ffffff;
  --icon-color: #000000;
  --font-color: #000000;
}

.darkmode {
  --background-color: white;
}

:not(rect) {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

.app {
  height: 100vh;
  background-color: chocolate;
  display: grid;
  grid-template-rows: auto 2fr 2fr 1fr;
}

.header {
  display: grid;
  background-color: var(--background-color);
  align-items: center;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr 0fr;
}

.header .hamburger {
  width: 100%;
  margin-left: 37px;
}

.hamburger div div {
  background-color: var(--icon-color);
}

.header .logo {
  color: var(--icon-color);
  z-index: 20;
  padding-left: 60px;
}

.header .search {
  color: var(--icon-color);
  margin-right: 10px;
}

.header .cart {
  color: var(--icon-color);
  margin-right: 37px;
}

/* .header {
  display: flex;
  height: 59px;
  width: 100%;
  background-color: var(--background-color);
  color: white;
  align-items: center;
}

.header .hamburger {
  margin-left: 37px;
  margin-right: 0;
}

.header .logo {
  margin-left: 52px;
  margin-right: 0;
  z-index: 20;
}

.header .search {
  margin-left: 32px;
  margin-right: 10px;
}

.header .cart {
  margin: 0;
} */

.showcase {
  display: grid;
  width: 100%;
}

.main {
  display: grid;
  width: 100%;
}

.main .collection-text {
  font-size: 23px;
}

.footer {
  width: 100%;
  background-color: gold;
  color: var(--font-color);
}
