:root {
  --background-color: #161616;
}

.darkmode {
  --background-color: white;
}

:not(rect) {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

.app {
  height: 100vh;
  background-color: chocolate;
  display: grid;
  grid-template-rows: auto 2fr 2fr 1fr;
}

.header {
  display: flex;
  height: 59px;
  width: 100%;
  background-color: var(--background-color);
  color: white;
  align-items: center;
}

.header .hamburger {
  margin-left: 37px;
  margin-right: 0;
}

.header .logo {
  margin-left: 52px;
  margin-right: 0;
  z-index: 20;
}

.header .search {
  margin-left: 32px;
  margin-right: 10px;
}

.header .cart {
  margin: 0;
}

.showcase {
  display: grid;
  width: 100%;
}

.main {
  display: grid;
  width: 100%;
}

.main .collection-text {
  font-size: 23px;
}

.footer {
  width: 100%;
  background-color: gold;
}
